body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

footer  {
 background-color: black;
 color: white;
 position: absolute;
  bottom: 0;
  width: 100%;

}

.posicionFooter{
    height: 70px;
}


nav {
    background-color: black;
}

.cartas {
    
    width: auto;
    white-space:nowrap;
    overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: black white;
    
}



.cartas::-webkit-scrollbar {
  height: 12px;
}

.cartas::-webkit-scrollbar-track {
  background: rgb(32, 32, 32);
  border-radius: 20px;
}

.cartas::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: 3px solid rgb(32, 32, 32);
}

.card {
    width: 18rem;
    text-align: justify;
    display: inline-block;
    box-shadow: 0px 0px 6px white;;
    
}

.card-text{
    text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}

.titulo {
    margin-left: 15vw;
    font-weight: 800;
    color: white;
}

.titulo2 {
    font-weight: 1000;
    margin-top: 50px;
    color: white;
}

#texto {
  text-align: justify;
  color: rgb(185, 185, 185);
  
  
}

#propiedades{
    border-top: 2px solid red;
    color: red;
    
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.contenedor{
    position: relative;
     min-height: 100vh;
     
}

.planetas{
    margin-bottom: 100px;
}

.far, .fas{
    cursor: pointer;
}

.card-img-topInfo{
    min-width: 200px;
    max-width: 100vw;
    
  margin-left: auto;
  margin-right: auto;
 
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  
  

}


